<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load static %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  		<meta name="description" content="Art and Technology" />
		<meta name="keywords" content="Art, Software" />
		<meta name="author" content="Howard Winston" />
		
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		
  		<title>Blog - Howard Winston</title>
  		
  		<link href="{% static 'css/stylesheet.css' %}" 
    		media="screen" rel="stylesheet" type="text/css" />
    	<link href="{% static 'css/max-width-960.css' %}"
    		media="screen and (max-width: 960px)" rel="stylesheet" type="text/css" />
    	<link href="{% static 'css/max-width-480.css' %}"
    		media="screen and (max-width: 480px)" rel="stylesheet" type="text/css" />
    		    	  	
    	<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    	<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    	    	
	</head>
	
	<body>
		{% block base_content %}
		{% endblock %}
	</body>
</html>