{% extends "base.html" %}

{% load endless %}
{% load format_topic_tags %}

{% block base_content %}
	
	<div id="page">
	
		{% include "header.html" %}
		
		<div class="main-content ">
		
			<div class="left-content-inner">
				{% include "toggle_control.html" %}
				<div class="post-content">
					{% block page_content %}
						<h1><span class="listview-title">{{listview_title}}</span></h1>
						{% paginate object_list %}				
						{% for post in object_list %}

						<div class="post-teaser">
					
							<h2><a href="/{{post.publish_date|date:'Y'}}/{{post.publish_date|date:'m'}}/{{post.publish_date|date:'d'}}/{{post.slug}}">{{post.title}}</a></h2>

							<div class="post-meta">
								on {{ post.publish_date|date:"N d, Y" }}
							</div>

							<div class="post-body">
								{{ post.body_primary|safe }}
							</div>

							<div class="more-link">
								<a href="/{{post.publish_date|date:'Y'}}/{{post.publish_date|date:'m'}}/{{post.publish_date|date:'d'}}/{{post.slug}}">more...</a>
							</div>

							<div class="topic-tags">
								{{post.topic_tags|topic_tags_out|safe}}
							</div>

						</div>

						{% endfor %}
						
						<div class="page_line">{% show_pages %}</div>
						
					{% endblock %}
					
				</div> 
			</div>
		
			<div class="right-sidebar">
				<div class="right-sidebar-inner">
					{% include "slogan_block.html" %}
					{% include "navagation.html" %}
				</div>
			</div>	
			
		</div>

		{# {% include "twitter_block.html" %} #}
		{# {% include "grcode_block.html" %} #}
		{% include "footer.html" %}
				
	</div>	
	
{% endblock %}