/* stylsheet.css */
body {
	color: #3E3E3E;
    font-size: 18px;
    font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
    margin: 0 35px;
    background: #ffffff url(../img/background.png) repeat scroll 0% 0%;
}

.section-header {
	background-color: #000000;
}

#logo-img {
	text-align: center;
	float: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;		
}

#logo {
	max-width: 650px;
	width: 66%;
}

#page {	
    background-color: #F0F0F0;
	color: #3E3E3E;	
}

.main-content {
	width: 100%;
}

.left-content-inner {
	margin-right: -300px;
	float: left;
	width: 100%;
}

.post-content {
	padding: 26px;
}

.post-body {
	line-height: 32px;
}

.more-link {
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;	
	letter-spacing: 2px;
	line-height: 28px;
	color: #0000C0;
	background: #eeeeee;
	width: 100%;
	display: inline-block;
}

img {
	color: #ffffff;
	padding: 16px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 16px;
	letter-spacing: 2px;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 60px;
	letter-spacing: 2px;
}

a:link, a:visited {
  	color: #636300;
  	text-decoration: none;
}

a:hover {
  	color: #202124; 
  	text-decoration: underline;
}

.toggle-div {	
}

#toggle {
	color: #FFFFFF;
	background-color: #000000; 
	display: inline;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 60px;
	position: absolute;
}

.listview-title {
	color: #FFFFFF;
	background-color: #404040; 
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888; 
}

.flatpage-title {
	color: #FFFFFF;
	background-color: #404040; 
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888; 
}

.flatpage-content {
	margin-top: 60px;
	font-family: Times,serif;
	font-size: 20px;
}

.topic-tags {
}

.topic-tag {
	color: #FFFFFF;
	background-color: #404040; 
	display: inline;
	margin-left: 10px;
	margin-top: 32px;
	margin-right: 10px;
	margin-bottom: 10px;	
	padding: 10px;
	border: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	display: inline-block; 
}

.topic-tag a {
	color: #FFFFFF;
	text-decoration: none;
}

.topic-tag a:hover {
	color: #636300;
	text-decoration: none;
}

.right-sidebar {
	float: left;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.right-sidebar-inner {
    padding: 16px;
    color: #626262;
    background-color: #F0F0F0;
}

.block {
	padding-top: 16px;
}

.slogan {
}

.slogan-title {
	padding-top: 0px;
	letter-spacing: normal;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	color: #626262;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 16pt;		
}

.slogan-text {
	font-size: 12px;
	font-family: Times New Roman, serif;
	letter-spacing: normal;
	text-align: center;
	margin: 16px;
}

/* jQuery UI Accordion css */

.ui-accordion .ui-accordion-header {
	min-height: 0; /* support: IE7 */
	color: #FFFFFF;
	background-color: #404040; 
	display: block;
	margin: 10px;
	padding: 10px;
	border: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	font-size: 20px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 16px;
	letter-spacing: 2px;	
}

.ui-accordion h3:hover {
	color: #636300;
	text-decoration: none;
}

.ui-accordion .ui-accordion-content {
	height: 100px;
	overflow: auto;
	font-size: 14px;
}

.twitter-timeline {
	color: #FFFFFF;
	background-color: #404040; 
	display: inline;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888; 
}

#grcode {
	text-align: center;	
}

.page_line {
	margin-top: 60px;
	text-align: center;
}

a.endless_page_link {
	color: #FFFFFF;
	background-color: #404040; 
	display: inline;
	margin: 10px;
	padding: 10px;
	border: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
}

a.endless_page_link:hover {
	color: #636300;
	text-decoration: none;
}

.endless_page_current {
	color: #3E3E3E;
}

.footer {
	clear: both;
	margin-top: -80px;
	margin-bottom: 20px;
}

.footer-inner {
	height: 80px;
	background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}

#django-img {
	width: 124px;
	height: 25px;
	padding: 0px;
}
